#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424769;
  padding: 0.1em 1em;
  height: 3rem;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

#nav-links li {
  margin-right: 1em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5rem;
}

#nav-icon {
  height: 2rem;
  margin: 0 1rem;
}

#nav-button-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 3rem;
  right: 1%;
  color: #161e31;
  background-color: white;
  padding: 1rem;
  width: 9rem;
  height: 8rem;
}

.nav-options a {
  color: #161e31;
  font-size: 1em;
  font-weight: 700;
  width: 9rem;
  text-align: center;
}

.nav-options button {
  text-align: center;
  border: none;
  background: none;
  color: #161e31;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  width: 9rem;
}

.nav-options button:hover,
.nav-options a:hover {
  color: #f9b17a;
}
